:root {
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    height: 100vh;
}

.main {
    margin: 8rem;
}

img, .nav {
    position: relative;
    z-index: 1;
    margin: 20px;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: larger;
}

a {
    text-decoration: none;
    font-size: large;
}

li {
    list-style-type: none;
}